APP_ENV=local

POSTGRES_DB=genomics_portal
POSTGRES_USER=genomics_user
POSTGRES_PASSWORD=genomics_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=postgresql+psycopg://genomics_user:genomics_pass@localhost:5432/genomics_portal

STREAMLIT_SERVER_PORT=8501
STREAMLIT_SERVER_HEADLESS=true
